Source: ros-humble-bayesian-topological-localisation
Section: misc
Priority: optional
Maintainer: Francesco Del Duchetto <fdelduchetto@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-humble-ament-copyright <!nocheck>, ros-humble-ament-flake8 <!nocheck>, ros-humble-ament-pep257 <!nocheck>, ros-humble-geometry-msgs, ros-humble-std-msgs, ros-humble-topological-navigation, ros-humble-visualization-msgs, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-bayesian-topological-localisation
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-geometry-msgs, ros-humble-std-msgs, ros-humble-topological-navigation, ros-humble-visualization-msgs, ros-humble-ros-workspace
Description: The ros2 bayesian_topological_localisation package
